.Projects {
    --pink: #E31F71;
    --black: #212121;
    --green: #23ce6b;
    --blue: #016fb9;

    h2 {
        text-align: center;
        font-size: 3rem;
        margin-bottom: 10rem;
    }

    #project-list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto;
        gap: 2rem;
        padding: 1rem;
        overflow: hidden;
    }
}