@import '../../../scss/color.scss';

.Presentation {
    color: $white;
    text-align: left;
    padding-top: 15%;
    display: flex;
    justify-content: space-between;
    flex-direction: row!important;
    gap: 8rem;

    .text-left {
        & > p {
            color: $white;
            font-size: 1.8rem;
        }

        h1 {
            font-size: 3rem;
            margin-top: 1rem;
            margin-bottom: 1rem;
        }

        h3 {
            color: $green;
            margin: 0;
        }
        
        p.small-resume {
            margin-bottom: 5rem;
        }
    }

    .image-right {
        img {
            max-width: 500px;
        }
    }

    @media (max-width: 960px) {
        display: block;
        margin-top: 15%;

        .text-left {
            h1 {
                font-size: 2rem;
            }
        }
        
        .image-right {
            display: none;
        }
    }
}