@import '../../../../scss/color.scss';

.Project {
    padding: 1rem .9rem .3rem .9rem;
    background-color: $primary;
    border-radius: 1.2rem;
    transition: 0.25s;
    display: flex;
    flex-direction: column;
    height: 100%;
    color: $white;
    text-align: left;

    &:hover {
        transform: translateY(-5px);
        background-color: $green;
    }

    header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: $green;
        margin-bottom: 1rem;

        .project-links {
            display: flex;
            align-items: center;
            gap: 1rem;

            a, svg {
                width: 2.6rem;
                color: $black;
            }
        }
    }

    h5 {
        font-size: 1.2rem;
        margin-bottom: 1rem;
    }

    p {
        letter-spacing: 0.12rem;
        margin-bottom: 1rem;

        a {
            color: $white;
            border-bottom: 1px solid $green;
            transition: color 0.25s;

            &:hover {
                color: $green;
            }
        }
    }

    footer {
        margin-top: auto;

        .tech-list {
            display: flex;
            align-items: center;
            opacity: 0.6;
            text-decoration: none;
            list-style: none;
            gap: 1rem;
            font-size: 1rem;
            opacity: 0.6;
        }
    }
}