.Navbar-Group {
    display: inline!important;
    padding: 0 15px!important;
}

.right {
    margin-left: auto!important;
    justify-content: flex-end!important;
}

.center {
    margin: auto!important;
    justify-content: center!important;
}

.left {
    margin-right: auto!important;
    justify-content: flex-start!important;
}