.Item {
    display: inline;
    padding: 15px 5px;

    a {
        text-decoration: none;
        color: white;
        padding: 15px 5px;
        transition: filter 0.25s;
        &:hover {
            filter: brightness(0.8);
        }
    }
}