@import '../../../scss/color.scss';

.Bloc {
    margin: 2rem;
    border-radius: 53px;
    background: $midHot;
    box-shadow:  32px 32px 64px rgba(0, 0, 0, 0.1),
                -32px -32px 64px rgba(0, 0, 0, 0.1);

}

.small {
    max-width: 10rem;
}